.home {
    height: 100vh;
    display: grid;
    /* grid-auto-flow: row; */
   background-color: rgba(37, 50, 15, 0.573);
   align-items: center;
   justify-content: center;
}

.logo {
    justify-self: center;
    margin-top: 3rem;
    border: rgba(37, 50, 15, 0.573) 1px solid;
    border-radius: 10px;
}

